<div *ngIf="category">
  <div class="modal-header">
    <h4 class="modal-title">Alterar {{category.category}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="table-responsive">
        <table class="table table-striped">
        <tbody>
          <tr>
            <td>ID</td>
            <td>{{category.id}}</td>
          </tr>
          <tr>
            <td>Categoria</td>
            <td>{{category.category}}</td>
          </tr>
          <tr>
            <td>Descrição</td>
            <td>{{category.description}}</td>
          </tr>
          <tr>
            <td>Data de criação</td>
            <td>{{category.createdAt.date | date:'dd/MM/yyyy H:mm'}}</td>
          </tr>
          <tr>
            <td>Data de atualização</td>
            <td>{{category.updatedAt.date | date:'dd/MM/yyyy H:mm'}}</td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>
